*{
box-sizing:border-box;
}


body{

margin:0;
background:#110b06;
font-family:Georgia,serif;
overflow:hidden;

}


header{

position:fixed;
top:0;
width:100%;
padding:20px;
z-index:10;

display:flex;
justify-content:space-between;
align-items:center;

color:#e7c889;

}



button{

background:#321d0f;
color:#f2d9a0;

border:1px solid #b88b45;

padding:10px 18px;

cursor:pointer;

border-radius:8px;

}




#desk{

height:100vh;
position:relative;
overflow:hidden;

}




.desk-image{

width:100%;
height:100%;

object-fit:cover;

filter:
brightness(.55)
sepia(.4);

}




.desk-items{

position:absolute;

top:35%;
left:50%;

transform:translate(-50%,-50%);

display:flex;

gap:40px;

}



.stack{

width:150px;

cursor:pointer;

transition:.5s;

text-align:center;

color:#e9d49b;

}



.stack img{

width:100%;

filter:
drop-shadow(0 10px 15px black);

}



.stack:hover{

transform:
translateY(-20px)
rotate(-3deg);

}




.quill{

position:absolute;

bottom:15%;
right:15%;

width:180px;

transform:rotate(-20deg);

}



.candle{

position:absolute;

bottom:10%;
left:15%;

width:100px;

animation:flicker 1s infinite alternate;

}



.candle img{

width:100%;

}



@keyframes flicker{

from{
filter:brightness(1);
}

to{
filter:brightness(1.5);
}

}





#dust-layer{

position:fixed;

inset:0;

pointer-events:none;

background-image:
radial-gradient(#fff8 1px,transparent 1px);

background-size:80px 80px;

animation:dust 20s linear infinite;

opacity:.3;

}



@keyframes dust{

from{
transform:translateY(0);
}

to{
transform:translateY(-200px);
}

}





.hidden{

display:none;

}



#archive{

position:absolute;

inset:0;

background:#050302cc;

display:flex;

justify-content:center;

align-items:center;

}



.book{

width:80%;
height:80%;

background:

url("assets/images/parchment.webp");

background-size:cover;

padding:40px;

box-shadow:
0 0 40px black;


animation:
openBook .8s;

}




@keyframes openBook{

from{

transform:
rotateY(90deg);

}

to{

transform:
rotateY(0);

}

}




#pages{

height:80%;

overflow:auto;

color:#24180d;

}




#content{

font-size:20px;

line-height:1.6;

}




.controls{

display:flex;

justify-content:space-between;

margin-top:20px;

}




@media(max-width:700px){


.desk-items{

flex-wrap:wrap;

gap:10px;

}


.stack{

width:100px;

}


.book{

width:95%;

}


}

